*,*::after,*::before{
    margin: 0;
    padding: 0;
}
.body{display: flex;
justify-content: space-between;
}
body{margin-left: 97px;
  
  }
.header_list{
    display: flex;
    justify-content: space-between;
  align-items: flex-start;
  width: 700px;
  margin-top: 85px;
  padding-bottom: 86px;
  border-bottom: 1px solid rgb(211, 211, 211);
}
header{border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 1px;
}
.header_link{color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
text-decoration: none;}
.main_list{padding-top: 55.5px;
    border-bottom: 1px solid rgb(211, 211, 211);}
    .line_2{border-bottom: 1px solid rgb(211, 211, 211);
        padding-bottom: 1px;}
h1{color: rgb(0, 0, 0);
    font-family: Kanit;
    font-size: 69.74px;
    font-weight: 600;
    line-height: 104px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;}
    h2{color: rgb(252, 113, 45);
        font-family: Kanit;
        font-size: 113.33px;
        font-weight: 300;
        line-height: 169px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: capitalize;}
        .main_list_p{color: rgb(0, 0, 0);
            font-family: Kanit;
            font-size: 17.43px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0%;
            text-align: left;
            text-transform: capitalize;
        max-width: 387.92px;}
h3{color: rgb(41, 41, 41);
    font-family: Kanit;
    font-size: 55px;
    font-weight: 300;
    line-height: 82px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;}
    button{border: 0;
        border-radius: 50px;
        box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.25);
        background: rgb(240, 240, 240);
        width: 165px;
        height: 60px;}
.main_list_items{display: flex;
justify-content: space-between;
max-width: 350px;
align-items: center;
padding-top: 52px;
padding-bottom: 60px;
}
.main_list_button{color: rgb(41, 41, 41);
    font-family: Kanit;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0%;

    text-transform: capitalize;}
    .footer_blocks{
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }
    .footer_blocks_item{
   
        border-radius: 30px;
        background: rgb(228, 228, 228);
        max-width: 180px;
        max-height: 120px;
    }


    .footer_block2{     display: flex;
        justify-content: space-around; 
      
    }
    .block_img{position: relative;
   bottom:160px;
right: 60px;
}
.footer_block1{display: flex;
justify-content: space-between;}
.footer_block{height: 52px;}
.footer_block1{
    max-width: 150px;
   margin-top: 7px;
}
.footer_block2{  max-width: 50px;
margin-left: 15px;}
.footer_block_p1{
    margin-left: 15px;
max-width: 80px;
color: rgb(0, 0, 0);
font-family: Inter;
font-size: 12px;
font-weight: 700;
line-height: 12px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase}
.footer_block_p2{color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;}
    .footer_block_plus{
        width: 40px;
        height: 40px;
        font-size: 35px;
        color: white;
        border-radius: 9px;
        background: rgb(30, 30, 30);
    text-align: center;
position: relative;
left:155px;
bottom: 10px;}
.footer_block_star2{color: rgba(55, 55, 55, 0.5);}
.body_item_block_text{
    color: rgba(254, 107, 40, 0.15);
font-family: Londrina Shadow;
font-size: 260px;
font-weight: 400;
line-height: 308px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
position: relative;
width: 400px;
height: 1082px;

}
.image_body{position: relative;
right: 750px;
bottom:1800px;
height: 2600px;
transform: rotate(-9.50deg);

  
}
.footer_blocks{
    padding-bottom: -100px;
}

  
   

     .body_item2{
  
        width: 800px;
        height:1300px;
        overflow: hidden;
       
     }

  