*,*::before,*::after{
    margin: 0;
    padding: 0;
}
body{font-family: Lato;
    letter-spacing: 0%;}
.header{margin: 45px 53px 0 53px;
    border-radius: 50px 50px ;
    background: rgb(242, 242, 242);
   height: 1024px;
   padding-bottom: 20px;
overflow: hidden;}
.header_block{display: flex;
justify-content:space-between;
width: 60%;
padding-top: 17px;
padding-bottom: 15px;
margin-left: 87px;
align-items: center;
}
.header_list{
    display: flex;
justify-content:space-around;
width:60%;
}
a{text-decoration: none;}
.logo{color: rgb(100, 100, 100);
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;

    text-align: left;}
    .header_link{color: rgb(156, 156, 156);
        font-size: 22px;
        font-weight: 600;
        line-height: 26px;
        text-align: left;
    }
.header_card{
    background-image: url('images/Rectangle\ 4.png');
    background-repeat: no-repeat;
    background-position: center;
 background-size: cover;
 border-radius: 50px 50px ;
   height: 91%;


 

}
.header_card_items{   display: flex;
    justify-content:space-between;
    align-items:end;
    padding-top: 200px;
    padding-left: 87px;
    padding-right: 20px;
    
 
}
.header_h3{color: rgba(255, 255, 255, 0.23);
 
    font-size: 450px;
    font-weight: 600;
    line-height: 540px;
    transform: rotate(-90.00deg);
   
}
.header_h1{color: rgb(255, 255, 255);

    font-size: 140px;
    font-weight: 600;
    white-space: nowrap;
    width: 600px;
    
}
.header_h2{
    color: rgb(197, 197, 197);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
   
   
    }
   
    .main_block_1{
        margin-top: 156px;
        text-align: center;
        margin-bottom: 179px;
    }
    .main_block_1_title{color: rgb(43, 43, 43);
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
     }
     .main_block_1_description{
        color: rgb(40, 40, 40);
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    padding: 59px 294px;
    text-align: center;
     }
     .main_block_2{border-radius: 50px;
        background: rgb(242, 242, 242);
    margin-top: 120px;
display: flex;
justify-content: space-around;
margin: 0 52px;
padding:86px 0 0 0;
max-height: 938px;
overflow: hidden;}
.main_block_2_items{
  text-align: center;
}
.main_block_2_items_description{color: rgb(40, 40, 40);

    font-size: 26px;
    font-weight: 500;
    line-height: 31px;
   margin-top: 36px;
   margin-bottom: 221px;
    text-align: center;
}

.main_block_3{color: rgb(255, 255, 255);

    border-radius: 50px;
    background: rgb(49, 49, 49);
    margin: 0 52px;
    margin-top: 71px;
    text-align: center;
  
}
    .main_block_3_title{  font-size: 40px;
        font-weight: 600;
        line-height: 48px;
        padding-top: 85px;
   }
   .main_block_3_description{
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    padding: 59px 294px;
    text-align: center;
   }
   .main_block_4{background-image: url(images/Rectangle\ 8.png);

    border-radius: 50px;
background-position: center;
background-repeat: no-repeat;
background-size:cover;
margin: 70px  52px 32px 52px;
height: 900px;

}
.main_block_4_title{color: rgb(255, 255, 255);

    font-size: 150px;
    font-weight: 700;
    line-height: 168px;
    letter-spacing: 0%;
    text-align: right;
    position: relative;
  right: -15px;
  top:-60px;
   }
   .main_block_4_list{display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

width: 44.2%;
height: 50%;
margin-top: -50px;



}
.main_block_4_list_item{border-radius: 50px;
    font-size: 30px;
    width: 270px;
    height: 58px;
    color: rgb(43, 43, 43);
    font-weight: 400;
line-height:58px;
    background: rgb(255, 255, 255); 
text-align: center;}
.img_4{
    position: relative;
   top:-530px;
   left:0px;
}
.main_block_4_title2{color: rgb(255, 255, 255);

    font-size: 100px;
    font-weight: 700;
    line-height: 120px;
  
    margin-top:-470px;

   text-align: center;

  }
  .main_block_5{display: flex;
justify-content: space-around;
align-items: center;
margin: 45px 53px 0 53px;

}
.main_block_5_item{border-radius: 50px;
    background: rgb(243, 241, 246);
    max-width: 414px;
    height: 444px;
}
.block_5_img{
 padding: 34px 0 0 40px;
}
.block_5_description{color: rgb(43, 43, 43);
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
padding: 37px 56px 60px 40px;}
.block_5_title{color: rgb(43, 43, 43);
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
margin-left: 40px;}
.footer{
    border-radius: 50px;
background: rgb(255, 172, 165);
color: rgb(255, 255, 255);
margin: 45px 53px 30px 53px;
padding-bottom: 41px;
text-align: center;


}
.footer_description{
    padding-top:34px ;
    padding-bottom: 19px;
    font-size: 30px;
font-weight: 700;
line-height: 36px;
}
.footer_copyright{
    padding-bottom: 12px;
    font-size: 24px;
font-weight: 700;
line-height: 29px;
}
.footer_icon{
    padding: 0 5px 0 5px;
}